.container {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	-webkit-user-select: none;
}

header {
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	height: auto;
	max-height: 240px;
	min-height: 132px;
	margin: 0px auto;
}

.swiper-container img {
	width: 100%;
}

.swiper-pagination-bullet-active {
	background: #e4393c;
}

.logo {
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	height: auto;
	text-align: center;
	margin: 0px auto;
}

.logo img {
	width: 35%;
	max-width: 224px;
	margin: 0px auto;
}

.search {
	width: 90%;
	margin: 0px auto;
}

.input-box {
	max-width: 480px;
	max-height: 57px;
	margin: 0 auto;
	border-radius: 0.85rem;
	border: 1px solid #CCCCCC;
	width: 85%;
	height: 1.50rem;
	display: flex;
	justify-content: space-between;
	line-height: 1.50rem;
}

.input-box input {
	margin-left: 1rem;
	padding: 0px;
	width: 80%;
	border: 0px;
	outline-color: rgb(77, 144, 254);
}

.input-box span {
	display: inline-block;
	width: 10%;
	height: 1.5rem;
	background: url(../image/icon.png) 3px 3px no-repeat;
	background-size: 8rem;
}

.category {
	width: 100%;
	height: 3.6rem;
}

.cate-menu {
	width: 100%;
	height: 3.6rem;
	padding: 0px;
	display: flex;
	justify-content: space-around;
}

.cate-menu a {
	text-decoration: none;
}

.cate-menu li {
	width: 25%;
	list-style: none;
}

.cate-menu li span {
	width: 2.3rem;
	height: 2.3rem;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	background: #e85a5d;
}

.cate-menu li a {
	color: #000000;
}

.cate-menu li p {
	width: 100%;
	text-align: center;
	font-size: 0.9rem;
}

.cate-menu li:nth-of-type(1) span i {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../image/icon.png) -1.3rem 0.5rem no-repeat;
	background-size: 8rem;
}

.cate-menu li:nth-of-type(2) span i {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../image/icon.png) -3.3rem 0.5rem no-repeat;
	background-size: 8rem;
}

.cate-menu li:nth-of-type(3) span i {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../image/icon.png) -5.4rem 0.4rem no-repeat;
	background-size: 8rem;
}

.cate-menu li:nth-of-type(4) span {
	text-align: center;
	line-height: 2.3rem;
	color: #FFFFFF;
}

.man-footer {
	text-align: center;
	padding: 1rem 0rem;
}

.theme-pavilion {
	border-top: 1px solid #E5E5E5;
	padding: 5px;
	overflow: hidden;
}

.tbl-cell {
	width: 50%;
	float: left;
	padding: 1rem 0rem;
}

.tbl-cell>a {
	margin: 4px 2px 0 0;
	display: block;
	border: 1px solid #e5e5e5;
	border-bottom: 0px;
}

.tbl-cell a img {
	width: 100%;
}

.tbl-cell>span:nth-of-type(1)>a {
	font-size: 0.9rem;
	display: block;
	text-decoration: none;
	color: #000000;
	padding-top: 5px;
}

.tbl-cell>span:nth-of-type(2)>a {
	display: block;
	font-size: 1.3rem;
	color: #e4393c;
	text-decoration: none;
	padding-top: 5px;
}

.clickload {
	text-align: center;
}

.lady-footer {
	text-align: center;
}

.footer {
	width: 100%;
	height: 6rem;
	padding-bottom: 1rem;
}

.login {
	width: 94%;
	padding: 3%;
}

.login a {
	text-decoration: none;
	color: #666;
	font-size: 0.8rem;
}

.new_fr {
	float: right;
}

.version {
	width: 94%;
	padding: 3%;
	text-align: center;
}

.version a {
	padding: 0 .3rem;
	font-size: 0.8rem;
	text-decoration: none;
	color: #6e6e6e;
}

.footer p {
	text-align: center;
	margin: 0px;
	color: #6e6e6e;
}