*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.container {
	min-width: 320px;

	margin: 0 auto;
	-webkit-user-select: none;
	background: #F4F4F4;
}
.header{
	width: 100%;
	height:2.8rem;
	min-width: 320px;

	margin: 0px auto;
	background: #fdfdfd;
	-webkit-box-shadow: 1px 1px 8px #c6c5c6;
	line-height: 2.8rem;
	display: flex;
	z-index: 100;
	position: relative;
}
.toindex{
	display: block;	
	width:10%;
	margin:1rem 0px 0px 1rem;
	height:1rem;
	background: url("../image/2b.png") no-repeat -0.20rem -0.68rem;
	-webkit-background-size: 3.12rem auto;
}
.header .logo{
	float: left;
    font-size:1rem;
    color: #000;
    width: 80%;
    height: auto;
    text-align: center;
}
.toggleDown{
	width:10%;
	background: url("../image/2b.png") no-repeat -0.25rem -2rem;
	-webkit-background-size: 3.12rem auto;
	height:1.5rem;
	margin:.6rem 1rem 0px 0rem;
	color:#666;
}
.downBar{
	width:100%;
	height:3.43rem;
    border-bottom: 1px solid #d0cece;
    background-color: #fff;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.downBar a{
	width:25%;
	padding: .5rem 0px;
	text-align: center;
	color:#6E6E6E;
	font-size: 0.8rem;
}
.downBar .index span{
	    display: inline-block;
	    width:1.3rem;
	    height: 1.3rem;
	    background: url(../image/icon2b.png) -3.75rem -1.56rem no-repeat;
	    background-size:11rem;
}
.downBar .index:nth-of-type(2) span{
	    background: url(../image/icon2b.png) -0.2rem -1.56rem no-repeat;
	    background-size:11rem;
}
.downBar .index:nth-of-type(3) span{
	    background: url(../image/icon2b.png) -2.1rem -1.56rem no-repeat;
	    background-size:11rem;
}
.downBar .index:nth-of-type(4) span{
	    background: url(../image/icon2b.png) -5.2rem -1.56rem no-repeat;
	    background-size:11rem;
}

.forms{
	width:100%;
	height:12rem;
}
form{
	width:99%;
	border:1px solid #CCC;
	border-radius: 5px;
	margin-top:5%;
	
}
form input{
	width:95%;
	padding: 0.85rem 0.5rem;
	margin:0px 1px;
	border:0px;
	border-bottom: 1px solid #CCCCCC;
	outline: none;
	font-size: 0.8rem;
}
form p{
	width:100%;
	height: 3px;
	background: #CCC;
}
.submit{
	width:100%;
	/*margin-top:10%;*/
	background: #FF6C6D;
	color: #FFFFFF;
	text-align: center;
	font-size: 1rem;
}
.formInner{
	display: block;
	width:100%;
	height:2rem;
	line-height:2rem;
	font-size: 1rem;
	color:#FF6C6D;
	
}
.atherlogin{
	width:95%;
	margin:0 auto;
}
.atherlogin p{
	color: #555;
	margin-left:5% ;
}
.listBox{
	width:95%;
	border: 1px solid #dadada;
	list-style: none;
}
.listBox li{
	border-bottom: 1px solid #DADADA;
	background: #F4F4F4;
	height:3.2rem;
	position: relative;
	text-align: center;
}
.listBox em{
	display: block;
    width: 2rem;
    height: 2rem;
    background: url("../image/idxToolMobileIcon.png") no-repeat;
    position: absolute;
    left: 3.125%;
    top: 20%;
    background-size:27rem ;

}
.listBox .weixin{
    background-position: -12.6rem -5.8rem;
}
.listBox .xinlang{
    background-position: -15.1rem -5.8rem;
}
.listBox .tengxun{
    background-position: -18.2rem -5.8rem;
}
.listBox li>span:nth-of-type(1){
	position: absolute;
    top: 30%;
    left: 15%;
    font-size: 0.8rem;
    color:#555;
}
.listBox li>span:nth-of-type(2){
	position: absolute;
    top: 30%;
    left: 90%;
    font-size: 0.8rem;
    color:#555;
}
.footer{
	width:100%;
	margin-top:1rem;
}
.i-login{
	width:94%;
	height:1.68rem;
	padding: 0px 3%;
	background-color: #a8a8a8;
	line-height: 1.68rem;
}
.i-login a{
	text-decoration:none;
	color:#FFFFFF;
}
.i-login a:nth-of-type(2){
	margin-left: 2rem;
}
.i-login a:nth-of-type(3){
	margin-left: 10rem;
}
.tp{
	width:100%;
	height:2.8rem;
	background: #BBB;
	display: flex;
	justify-content: space-around;
	line-height: 2.8rem;
}
.tp span{
	font-size: 0.8rem;
	color:#FFFFFF;
}
.footer p{
	display: block;
	border-top: 1px solid #919191;
    height: 5px;
    background: #a3a3a3;
}
